#page-report-forumkeywords-index #forum-intro {
  margin-top: 10px;
}
#page-report-forumkeywords-index .forumselectform input[type="checkbox"] {
  margin-left: 5px;
  margin-right: 2px;
}
#page-report-forumkeywords-index #menuforum {
  margin-bottom: 5px;
}
#page-report-forumkeywords-index #wordcloud {
  margin-top: 20px;
  border: 1px solid #eee;
  height: 600px;
  width: 800px;
}

#page-report-forumkeywords-index #wordcloud svg {
  background-color: #fcfcfc;
}

#page-report-forumkeywords-index #weight_table {
  width: 800px;
}

#page-report-forumkeywords-index svg text:hover {
  opacity: 0.7;
}
